@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight:normal;
    font-display:swap;
    src:url(../Fonts/Montserrat-Regular.woff) format('woff')
}

@font-face {
    font-family:'Montserrat';
    font-style:normal;
    font-weight:bold;
    font-display:swap;
    src:url(../Fonts/Montserrat-Bold.woff) format('woff')
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Montserrat';
}

header, nav {
    position: fixed;
}

header,nav,nav ul .Search{
    width: 100%;
}

header,nav,nav ul .submenu ul,nav ul .Search{
    left: 0;
}

header,nav ul .Search .Options button, footer, footer a {
    color: white;
}

header {
    background-color:#2472cd;
    font-size: 14px;
    padding: 10px 0;
    top: 0;
    z-index: 3;
}

header, footer {
    font-weight: bold;
}

header {
    text-align: center;
}

header h1 {
    font-size: clamp(15px, 4vw, 20px);
    margin: 5px 0;
}

nav,nav .Icons,nav ul .Search,footer{
    display: flex;
}

nav,nav ul .submenu ul{
    background-color: white;
}

nav {
    top: 72px;
    justify-content: space-evenly;
    z-index: 2;
}

nav,nav ul .Search,nav ul .Menu-Icon {
    align-items: center;
}

ul li{
    display: inline-block;
}

ul li {
    list-style: none;
    margin: 10px;
    padding: 10px;
}

a, button, ul li {
    cursor: pointer;
    text-decoration: none;
}

nav ul li, nav a {
    color: #0e4071;
}

nav ul li:hover {
    background-color: #f0f0f0;
}

nav ul .submenu, #Numero, nav ul .Search .Options button {
    position: relative;
}

nav ul .submenu ul,nav ul .Search,nav ul .Search .Options img {
    position: absolute;
}

nav ul .submenu ul {
    border-radius: 5px;
}

nav ul .submenu ul,#Menu, nav ul .Menu-Icon {
    display: none;
}

nav ul .submenu ul {
    top: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

nav ul .submenu:hover ul, nav ul .submenu:focus ul {
    display: block;
}

button {
    border: 0;
    background-color: transparent;
}

nav .Icons,nav ul .Search {
    gap: 30px;
}

#Numero {
    top: -25px;
    right: 4px;
}

nav ul .Search,nav ul .Search:hover, nav ul .Menu-Icon:hover {
    background-color: #ccc;
    cursor: default;
}

nav ul .Search {
    z-index: 1;
}

nav ul .Search {
    margin: 0;
}

nav ul .Search {
    top: -100%;
    transition: top 1s ease;
}

nav ul .Search,footer {
    justify-content: center;
}

nav ul .Search .Options img {
    border-right: 1px solid black;
    padding: 2px 5px;
    border-radius: 0 10px 10px 0;
    top: 12px;
}

nav ul .Search .Options input {
    padding: 5px 0px 5px 37px;
    border: 2px solid #979797;
}

nav ul .Search .Options button {
    background-color: #004dff;
    font-weight: 800;
    font-size: 16px;
    height: 33px;
    width: 65px;
    border-radius: 0 0 10px;
    padding: 0 4px;
    right: 5px;
    top: 1px
}

nav ul .Search .Options input:focus {
    border-width: 2px;
    border-color: #007bff;
    outline: 0;
}

main {
    margin: 287px 0 80px 0;
}

h2 {
    margin: 20px 0;
}

#h2 {
    text-align: center;
}

footer {
    background-color: rgb(51, 51, 51);
    gap: 50px;
    padding-bottom: 50px;
}

footer a {
    border-bottom: 1px solid white;
}

footer p {
    margin: 10px 0;
    font-size: clamp(14px,4vw,16px);
}

@media(max-width:619px) {
    nav ul {
        position: absolute;
        right: -100%;
        top: 28px;
        width: 300px;
        background-color: #ccc;
        z-index: 1;
        transition: right 1s ease;
    }

    nav ul li, #Menu {
        display: block;
    }

    nav ul .submenu ul, nav ul .Search {
        position: relative;
    }

    nav ul .submenu ul {
        width: 100%;
    }

    nav ul .Menu-Icon {
        color: black;
        display: flex;
    }

    nav ul .Menu-Icon h2 {
        margin-right: 130px;
    }

    #Close-1,#Lupa {
        display: none;
    }

    footer {
        gap: 0;
    }

    footer section {
        width: 90%;
        margin: 0 auto;
    }
}